{% extends "base.html" %}
{%load bootstrap4%}
{% block content %}
<div class="container" style="width:800px" >
    
    <form method="POST">
    {% csrf_token %}
    <table>
			{% bootstrap_form form %}
		</table>
    
    <input type="submit" class="btn btn-sm btn-outline-secondary" value="계정 정보 수정"/>
    </form>
    <br>
    <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'common:delete' user.id%}">회원탈퇴</a>
    <a href="{% url 'common:password' %}" class="btn btn-sm btn-outline-secondary">비밀밀호 변경</a>
</div>

{% endblock %}
{% block script %}
<script defer type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{%endblock%}