{% extends "base.html" %}
{% load static %}
{% block css %}
<script defer src = "{% static 'js/main_template.js'%}"></script>

<script defer src = "{% static 'js/weather_api.js'%}"></script>

<link rel="stylesheet" href="{% static 'css/main.css' %}"/>

{% endblock css %}

{%  block content %}

<div class="row">

    <div class="border_first_inner col-3">

        <h1> </h1>
        <h2 div class="h2">오늘의 날씨</h2>
        <div class="icon">  </div>
        <div class="current_temp"> <img src="https://image.flaticon.com/icons/png/512/4343/4343390.png" width="40px" height="40px">
            현재 온도: </div>

        <div class="current_humidity"> <img src="https://image.flaticon.com/icons/png/512/1574/1574227.png" width="40px" height="40px">
            현재 습도: 
        </div>
        <div class="lowtemp"> <img src="https://image.flaticon.com/icons/png/512/899/899708.png" width="40px" height="40px"> 
            최저 온도:  
        </div>
        <div class="hightemp"> <img src="https://image.flaticon.com/icons/png/512/1684/1684426.png" width="40px" height="40px">
            최고 온도: 
        </div>
       
</div>
    <div class="todo_border col-2 ">
    <script defer src = "{% static 'js/close_event.js'%}"></script>
        <div id="myDIV" class="header">
            <h3 style="margin:5px">My To Do List</h3>
            <input type="text" id="myInput" placeholder="Title...">
            <span onclick="newElement()" class="addBtn">Add</span>

        </div>        
        <ul id="myUL">
            <li>다음주 프로젝트 발표</li>
            <li class="checked">저녁 약속!!</li>
            <li>옷 새로 등록하기</li>
            <li>필라테스 옷 챙기기</li>
            <li>마스크 여분으로 챙겨다니기</li>
            <li>운동 하기</li>  
        </ul>
      

    </div>

{%for products, range in cloth_list%}
    <div class="col-3">
    
        <div class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner" style="margin:40px;">
            
                {% for i in products %}
                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                    <img  src="{{i.image.url}} "style="width: 500px; height: 400px;">
                </div>
            
                {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div><div class="carousel-item">
                {% endif%}

                {% endfor %}
            </div>
            </div>
        
        </div>
{% endfor %}

        
</div>

{% endblock %}
