{% extends "base.html" %}

{% load static %}
{% block css%}

<link rel="stylesheet" href="{% static 'css/clothes.css' %}"/>
{%endblock%}
{% block content %}
<div class ="container" style="width:400px">
<div class="item container" style="padding-top: 15px;">

    <p style="text-align: left; font-size: 0.8em;">
      <img src="{{ clothes.image.url }}" style="width: 180px; height: 150px;" alt=""> <br>

      <span class="clothesname" style=" font-size: 15px;">{{ clothes.alias }}</span> <br>
      <p>
      <span class ="clothesdivide">분류 </span>
      <span style=" background:"> &nbsp{{ clothes.type }} </span><br>
      <span class="clothescolor">색상 </span>
        <span style=" background:">  &nbsp{{ clothes.color }} </span><br>
        <span class="clothesmonth">입는 달 </span>
        <span style=" background:"> &nbsp {{ clothes.month }}월 </span><br>
        <span class="clotheslength">기장 </span>
        <span style=" background:"> &nbsp {{ clothes.length }} </span><br>
        
      </p>
      <!-- (수정중) 수정 & 삭제하기 -->
      <div class="my-3">
        <a href="{%url 'clothes:clothing_update' clothes.id%}"
           class="btn btn-sm btn-outline-secondary ">수정</a> <!-- #에 수정 관련 주소 추가하기 -->
        <a href="#" class="delete btn btn-sm btn-outline-secondary"
           data-uri="{% url 'clothes:clothing_delete' clothes.id  %}">삭제</a> <!-- data-uri에 삭제 관련 주소 추가하기-->
      </div>
</div>
</div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}

