{% extends "base.html" %}

{%  block content %}
<div class="row">
    <div class="col-3">
    </div>
<!--이미지 크기 조정필요-->

{%for products, range in cloth_list%}
    <div class="col-9">
    <div class="card" style="width: 18rem;">
        <div class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner">
            
                {% for i in products %}
                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                    <img  src="{{i.image.url}}">
                </div>
            
                {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
                </div><div class="carousel-item">
                {% endif%}

                {% endfor %}
            </div>
            </div>
        
{% endfor %}

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden=""></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden=""></span>
        <span class="sr-only">Next</span>
        </a>
        </div>
    </div>
    
</div>   
</div>   
{% endblock %}
