{% extends "base.html" %}

{%  block content %}

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">           
        <div class="carousel-inner">
            {% for obj in cloth_list %}
                {% if forloop.first %}
                    <div class="carousel-item active  ">
                {% else %}
                    <div class="carousel-item  ">
                {% endif %}
                <img class="d-block w-100 h-50" src="{{ obj.image.url}}" >

            {% endfor %}
        </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">이전</span><!-- 구동된 화면 보고 수정하기, li로 묶을 것인가 -->
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">다음</span>
        </button>
    </div>


{% endblock %}