{% extends "base.html" %}


{% block content %}
<div class="item container" style="padding-top: 15px;">

    <p style="text-align: left; font-size: 0.8em;">
      <img src="{{ clothes.image.url }}" style="width: 180px; height: 150px;" alt=""> <br>
      <span style="font-weight: bold;">{{ clothes.alias }}</span> <br>
      계절: {{ clothes.type }} <br>
      색상: {{ clothes.color }} <br>
      날짜 : {{clothes.create_date|date:"Y-m-d"}}<br>
      종류 : {{clothes.type}}<br>
      기장 : {{clothes.length}}<br>
      <a href={%url 'clothes:clothing_update' clothes.id%} class="btn btn-sm btn-outline-secondary">수정</a>
      <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'clothes:clothing_delete' clothes.id  %}">삭제</a>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}