/* * {
		margin:0;
		padding:0;
		box-sizing:border-box;
	} */
 
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
 
	
.border {
    display:flex;
}
.current_temp{
  margin-left: 15px;
  margin-bottom: 10px;
  
}
.current_humidity{
  margin-left: 15px;
  
}
.lowtemp{
  margin-left: 15px;
  
}
.hightemp{
  margin-left: 15px;
  
}

.p{
  margin-left: 250px;
}

.border_first_inner{
  /* border-style: solid;
  border-color: red; */
  font-family: 'Jua', sans-serif;
  font-size: 23px;
  display: inline-block;
  margin-right: 10px;
  /* padding: 100px 50px 50px 180px; */
  background-image: url('https://cdn.pixabay.com/photo/2017/09/08/22/45/background-2730506_960_720.jpg')
}

ul {
  /*margin-left: 1000px; 요기 제외!!!!!!!!!!!*/
  padding: 0;
  }

/* Style the list items */ */
/* ul li {
  /* cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  
  -webkit-user-select: none; */
  /* -moz-user-select: none;
  -ms-user-select: none; */
  /* user-select: none; */


/* odd 리스트 다 다른 컬러 */
ul li:nth-child(odd) {
  background: #f9f9f9;
  }


ul li:hover {
  background: #ddd;
}

/* 클릭하면 백그라운드 컬러 변경 */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* 체크하면 밑줄 */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

 
.header {
  background-color: 	#B0C4DE;
  /*margin-left: 1000px; 요기 제외!!!!!!!!!!!*/
  padding: 30px 40px;
  color: white;
  text-align: center;
}


.header:after {
  content: "";
  display: table;
  clear: both;
}

 
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

 
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
/* .head1{
      margin: 0px 0px 0px 250px;
      
}
.head2{
      margin: 0px 0px 10px 270px;
      
} */
.h1{
  text-align: center;
}
.h2{
  
  margin-left: 28px;
}
.icon{
  margin-left: 38px;
  padding-left: 28px;
  padding-bottom: 10px;
}
.carousel-inner{
      width: 500px;
      height: 500px;
      margin-left: 300px;
}
  

