{% extends 'base.html' %}
{% load board_filter %}
{% block content %}
<div class="container my-3">
    <table class="table table-hover">
        <h4>문의하기</h4></br>
        <thead>
        <!-- 카테고리가 하나라도 누락되면 정렬이 매우 깨질 수 있음 -->
        <tr class="text-center table-striped">
            <th>번호</th>
            <th>추천</th>
            <th style="width:48%">제목</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        <!-- 공지사항 상단고정 : 하단 형식대로 조건문과 span 같이 추가해야 라인이 딱 맞음 -->
        <!-- 상단고정 게시글이 검색에서 나오지 않게 해보려고 조건문을 걸었는데, 기존에 설정한 정렬(최신순, 추천순, 인기순)로 고정 정렬되는것으로 보임, *상단고정 공지사항은 최신순으로 자동정렬됨 -->
        {% if q %}
        {% else %}
        {% if question_fixed %}
        {% for question in question_fixed %}
        <tr class="text-center" onclick="location.href='/board/{{ question.id }}/'">
            <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
            <td>
                {% if question.voter.all.count > 0 %}
                <span class="badge badge-warning px-2 p-1">{{ question.voter.all.count }}</span>
                {% endif %}
            </td>
            <td class="text-left">
                <!-- 공지 span -->
                <span class="badge badge-danger px-2 p-1">공지</span>
                <a href="{% url 'board:detail' question.id %}">{{ question.subject|truncatechars:30 }}</a>
                {% if question.answer_set.count > 0 %}
                <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
                {% endif %}
            </td>
            <td>{{ question.author.username }}</td>
            <td>{{ question.create_date|date:'Y년 m월 d일' }}</td>        
        </tr>
        {% endfor %}
        {% endif %}
        {% endif %}
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr class="text-center">
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}
            </td>
            <td>
                {% if question.voter.all.count > 0 %}
                <span class="badge badge-warning px-2 p-1">{{ question.voter.all.count }}</span>
                {% endif %}
            </td>
            <td class="text-left">
                <a href="{% url 'board:detail' question.id %}">{{ question.subject|truncatechars:30 }}</a><!-- 제목 30자 초과 시 ...으로 표기 -->
                {% if question.answer_set.count > 0 %}
                <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
                {% endif %}
            </td>
            <td>{{ question.author.username }}</td>
            <td>{{ question.create_date|date:'Y년 m월 d일' }}</td><!-- '년/월/일'로 create date 간략히 표기 -->
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 --> <!-- ?page=1 해서 href 속성 직접 입력 대신 data-page 속성 값으로 read -->
    <ul class="pagination justify-content-center">
        <!-- 첫번째 페이지 & 이전 페이지 -->
        {% if question_list.has_previous %}
        <li class="page-item">
            <button type="list" class="listbtn"><a href="?page=1">첫번째페이지</button></a>
        </li>
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.previous_page_number }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <button type="list" class="listbtn"><a href="?page=1">첫번째페이지</button></a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in question_list.paginator.page_range %}
        {% if page_number >= question_list.number|add:-3 and page_number <= question_list.number|add:3 %}
            {% if page_number == question_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음 페이지 & 마지막 페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ question_list.next_page_number }}" href="#">다음</a>
        </li>
        <li class="page-item">
            <button type="list" class="listbtn"><a href="?page={{ question_list.paginator.num_pages }}">마지막페이지</button></a>&nbsp;&nbsp;
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        <li class="page-item disabled">
            <button type="list" class="listbtn"><a href="?page={{ question_list.paginator.num_pages }}">마지막페이지</button></a>&nbsp;&nbsp;
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{% url 'board:question_create' %}" class="btn btn-primary">문의 등록하기</a>
</div>
    <div class="row justify-content-center my-3">
    <!-- 검색기능 추가 : 하단 중앙에 두고 싶어서 여기에 검색창과 form element 추가 -->
    <!-- 검색정렬 : 최신순, 추천순, 인기순 -->
        <div class="col-2">
            <select class="form-control so">
                <option value="recent" {% if so == 'recent' %}selected{% endif %}>최신순</option>
                <option value="recommend" {% if so == 'recommend' %}selected{% endif %}>추천순</option>
                <option value="popular" {% if so == 'popular' %}selected{% endif %}>인기순</option>
            </select>
        </div>
        <!-- 검색 기능 -->
        <div class="col-4 input-group">
            <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
            </div>
        </div>
    </div>
    <form id="searchForm" method="get" action="{% url 'index' %}">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
        <input type="hidden" id="so" name="so" value="{{ so }}">
    </form>
{% endblock %}
<!-- 페이징 & 검색 자바스크립트 -->
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색할 경우 1페이지부터 조회
        $("#searchForm").submit();
    });

    $(".so").on('change', function() {  // select값 변경 시 so field 저장, searchForm 요청
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}